
/********** NAVIGATION ***********/

nav {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  z-index: 2;
  background-image: url(../images/home/bg-header-red-texture.jpg);
  background-size: cover;
  background-position: center;
}

.navbar-nav {
  margin: 7.5px -10px;
}

.navbar-nav>li>a {
padding: 10px;
}

.navbar-brand>img {
  width: 92px;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-toggle {
  background-color: #e10d26;
  margin-top: 15px;
}

.navbar-inverse .navbar-toggle {
  border-color: #e10d26;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-right li a {
  padding: 10px 7px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent;
  font-weight: bold;
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #d6d6d6;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-brand>img {
    width: 112px;
}

.live-channels {
  line-height: 110px;
  display: inline-table;
}

.broadcast-img {
  height: 30px;
}

.broadcast-title {
  height: 20px;
}

.broadcast-lamp {
  width: 35px;
  height: 35px !important;
  margin: 40px 0 40px 10px;
  display: block !important;
  padding: inherit !important;
  float: left;
  background-image: url(../images/home/lamp-off.png);
  background-size: cover;
}

.broadcast-lamp.live {
  background-image: url(../images/home/lamp-on.png);
}


.live .liveglow {
  border-radius: 50%;
  animation: liveglow 800ms ease-out infinite alternate;
  -webkit-animation: liveglow 800ms ease-out infinite alternate;
  width: 0px;
  height: 0px;
  margin: 17px;
}

.live-link {
	display: inline !important;
	padding: 0px !important;
  line-height: 0px !important;
}

@keyframes liveglow {
  0% {
    box-shadow: 0 0 -25px rgba(255, 255, 0, 0.2),
      inset 0 0 10px rgba(255, 255, 0, 0.1), 0 2px 0 #000;
  }
  100% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 0, 0.6), 
    inset 0 0 40px 50px rgba(255, 255, 0, 0.4), 0 2px 0 #000;
  }
}

@-moz-keyframes liveglow {
  0% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 0, 0.6), 
    inset 0 0 40px 50px rgba(255, 255, 0, 0.4), 0 2px 0 #000;
  }
  100% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 0, 0.6), 
    inset 0 0 40px 50px rgba(255, 255, 0, 0.4), 0 2px 0 #000;
  }
}

@-webkit-keyframes liveglow {
  0% {
    box-shadow: 0 0 -25px rgba(255, 255, 0, 0.2),
      inset 0 0 10px rgba(255, 255, 0, 0.1), 0 2px 0 #000;
  }
  100% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 0, 0.6), 
    inset 0 0 40px 50px rgba(255, 255, 0, 0.4), 0 2px 0 #000;
  }
}


/********** END NAVIGATION ***********/

/********** MAIN ***********/
body {
  background-color: #292929;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.main-page {
  background: #000;
}

.container {
  background: #9d0d16;
}

.navbar-inverse {
  border: none;
}

h1, h2, h3, h4 {
  margin: 0px;
}

a {
  color: #fff;
}

a:hover {
	color: #86151c;
}

.no-padding {
  padding: 0px;
}

.darker {
	background: #000;
}

.centered {
	text-align: center;
}

.carousel-control i {
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -20px;
    font-size: 50px;
}

.left.carousel-control i {
    margin-left: -20px;
}

.right.carousel-control i {
    margin-right: -20px;
}

.carousel-caption {
  left: 10%;
  bottom: 10px;
  max-width: 280px;
  right: initial;
  text-align: left;
}

.carousel-indicators {
    bottom: 15px;
    left: 10%;
    margin-left: initial;
    width: initial;
}

.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: initial;
  width: 50px;
  height: 4px;
  margin: initial;
}

.carousel-indicators .active {
  background-color: #c1001f;
  border: none;
  width: 50px;
  height: 4px;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.logo-banner {
  background: red;
  height: 110px;
  display: block;
}

.next-match {
  background: #000;
  background-image: url(../images/home/bg-red-texture-alt.jpg);
  background-size: cover;
}

.news-header {
  height: 50px;
  line-height: 50px;
  position: relative;
  background: #0d0101;
  background: -moz-linear-gradient(left, #0d0101 0%, #3d0204 94%); 
  background: -webkit-linear-gradient(left, #0d0101 0%,#3d0204 94%); 
  background: linear-gradient(to right, #0d0101 0%,#3d0204 94%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0101', endColorstr='#3d0204',GradientType=1 ); 
}

.news-header h4 {
  line-height: 50px;
  padding-left: 25px;
  font-style: italic;
}

.news-header a {
  position: absolute;
  right: 10px;
  top:0px;
  font-style: italic;
}

.news-picture {
  overflow: hidden;
}

.news-picture img {
  width: 100%;
}

.news-article-picture {
  padding: 0px 30px 30px 30px;
}

.news-article-picture img {
  width: 100%;
}

button.next-news {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #000;
  border: none;
  height: 30px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: bold;

}

button.next-news:hover {
  background-color: #fff;
}

.news-caption {
  padding: 20px 25px;
  bottom: 0px;
  background: #000;
  background-image: url(../images/home/news/news-bg.jpg);
  background-size: cover;
}

.news-caption h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.news-caption p{
  font-size: 12px;
}

.news-article-title span {
  padding-left: 30px;
  line-height: 45px;
  font-size: 32px;
}

.news-article-title {
  padding-top: 30px;
}

.news-article-content {
  padding-left: 30px;
  padding-right: 30px;
}

.news-article-content h2 {
  font-weight: bold;
  font-size: 35px;
}

.news-article-content p {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: justify;
}

.related-news h3 {
  margin-left: 30px;
  margin-bottom: 10px;
}

.logo-banner {
  line-height: 110px;
  text-align: center;

  background: #5b090e; 
  background: -moz-linear-gradient(left, #5b090e 25%, #000000 74%);
  background: -webkit-linear-gradient(left, #5b090e 25%,#000000 74%);
  background: linear-gradient(to right, #5b090e 25%,#000000 74%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b090e', endColorstr='#000000',GradientType=1 );
}

.logo-banner img {
  margin: 2.5%;
}

.next-match-logo img {
  max-height: 110px;
}

#next-match-img img {
  max-width: 55px;
  margin: 5px 0 10px;
}

.next-match-logo {
  text-align: center;
}

.next-match-info {
  margin: auto;
  padding-left: 10%;
}

.next-match-logo {
  margin: auto;
}

.next-match-info h3 {
  font-style: italic;
   font-size: 26px;
   font-weight: 700;
}

.versus {
  font-size: 26px;
  margin: 10px;
}

.match-featured img {
  margin: 15px 10px 0 0;
}

.previous-match {
  width: 100%;
  background: #000;
}

.previous-match-info {
  background-image: url(../images/home/latest-match-bg.jpg);
  background-size: cover;
}

.previous-match-info h3 {
  color: #c1c0c1;
  font-weight: 700;
}

.previous-match-logo {
  padding-top: 20px;
}

.previous-match-logo img {
  max-height: 90px;
  max-width: 100px;
}

#previous-match-img img {
  max-width: 55px;
  margin: 5px 0 10px;
}

#previous-score {
  font-weight: 700;
  font-size: 36px;
  margin: 10px;
}

.previous-matches-table {
  height: 100%;
}

.previous-matches-item {
  height: 33%;
  width: 100%;
  padding-left: 20px;
  display: table;
}

.previous-matches-logo {
  text-align: center;
}

.previous-matches-link,
.previous-matches-item-info,
.previous-matches-logo {
  display: table-cell;
  vertical-align: middle;
}

.previous-matches-item-info img {
  max-width: 58px;
}

.previous-matches-logo img {
  max-width: 50px;
  max-height: 50px;
}


.previous-matches-item-info p {
  margin: 5px 0px 0px 0px;
  line-height: 8px;
}

.previous-matches-item-info span {
  font-size: 10px;
}

.previous-matches-score {
  font-size: 22px;
  font-weight: 700;
  margin: 10px;
}

.previous-matches-link img {
  max-width: 35px;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leaderboard {
  position: relative;
}

.leaderboard,
.score-header,
.score-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.game-item.active:before,
.game-item:hover:before {
  background: #fff;
}

.game-item:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #86151c;
  left: -25px;
  bottom: -25px;

  -webkit-transform: rotatez(45deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform: rotatez(45deg);
  -ms-transform-style: preserve-3d;
  transform: rotateZ(45deg);
  transform-style: preserve-3d;
}

.game-item {
  height: 192px;
  width: 192px;
  line-height: 212px;
  text-align: center;
  border-right: 2px solid #86151c;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.game-item.active {
  border-right: 2px solid transparent;
}

.game-item img {
  max-width: 110px;
}

#game-csgo {
  background: black;
  border-top: 2px solid #86151c;
}

#team-lol,
.lol {
  background: #38070a;
  background: -moz-linear-gradient(
    -45deg,
    #38070a 1%,
    #38070a 15%,
    #110507 40%,
    #110507 50%,
    #39070a 80%,
    #39070a 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #38070a 1%,
    #38070a 15%,
    #110507 40%,
    #110507 50%,
    #39070a 80%,
    #39070a 100%
  );
  background: linear-gradient(
    135deg,
    #38070a 1%,
    #38070a 15%,
    #110507 40%,
    #110507 50%,
    #39070a 80%,
    #39070a 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#38070a",
      endColorstr="#39070a",
      GradientType=1
    );
}

.csgo {
  background: #000;
}

.score-list {
  padding: 34px 0;
}

.score-header {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.score-item {
  height: 37px;
  line-height: 37px;
  font-size: 20px;
}

.score-header span,
.score-item span {
  color: #fff;
}

.score-list {
  justify-content: space-between;
  width: 100%;
}

.place {
  width: 5%;
  margin-left: 5%;
  text-align: center;
}

.team {
  width: 5%;
  min-width: 80px;
  text-align: center;
}

.team-img {
  max-height: 30px;
  max-width: 55px;
}

.score-item .matches-wl,
.score-item .team {
  border-right: 1px solid #983237;
}

.score-item .matches-wl,
.score-item .matches {
  border-left: 1px solid #983237;
}

.team-name {
  width: 45%;
  margin-left: 20px;
}

.matches {
  width: 10%;
  min-width: 100px;
  text-align: center;
}

.matches-wl {
  width: 25%;
  margin-right: 5%;
  max-width: 150px;
  text-align: center;
}

.choose-team {
  padding: 44px 20px 0 0;
}

.team-item {
  text-align: center;
  padding: 0 0 10px;
  margin: 0 0 20px;
  opacity: 0.4;
  cursor: pointer;
}

.team-item.active {
  opacity: 1;
}

.team-item img {
  max-height: 70px;
}

#ebl-league {
  border-bottom: 1px solid #983237;
}

.team-game-item {
  width: 160px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  background: #000;
  border-left: 1px solid #86151c;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.team-game-item:before {
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  background: #86151c;

  -webkit-transform: rotatez(45deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform: rotatez(45deg);
  -ms-transform-style: preserve-3d;
  transform: rotateZ(45deg);
  transform-style: preserve-3d;
}

.team-game-item.active:before,
.team-game-item:hover:before {
  background: #fff !important;
}

.team-game-title {
  width: 120px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  background: #000;
}

.team-game-title h4 {
  line-height: inherit;
  font-style: italic;
}

.choose-team-game {
  height: 60px;
  background: #000;
}

.team-members-wrap {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between; 
  justify-content: space-between;
}

.team-game-item img {
  max-width: 65px;
}

.team-profile {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.team-profile-menu,
.team-member-profile {
    display: block;
    position: relative;
}

.team-member-profile {
  border-left: 1px solid #86151c;
  border-bottom: 1px solid #86151c;
  width: 20%;
  overflow: hidden;
}

.team-member-picture {
	position: relative;
}

.team-member-profile img {
	max-height: 238px;
	position: absolute;
	right: 0;
	}

.team-member-info {
	background: rgba(0, 0, 0, 0.74);
	position: absolute;
	width: 100%;
	height: 84px;
	bottom: 0px;
	padding: 10px 15px;
}

.team-member-info h4 {
	font-weight: 700;
	text-transform: uppercase;
}

.team-member-links {
	padding-top: 2px;
}

.team-member-links a {
	font-size: 12px;
	padding-top: 5px;
	margin-right: 8px;
}

.team-categories {
	width: 78px;
	height: 78px;
	line-height: 78px;
	background: #000;
	border-bottom: 1px solid #86151c; 
	font-size: 12px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	cursor: pointer;
}

.team-categories.active {
	background: #86151c;
}

#team-first {
	font-size: 18px;
	text-align: left;
	line-height: 20px;
	padding: 19px;
}

.red-footer {
	background: url(../images/home/bg-red-texture.jpg);
  background-size: cover;
}

.red-footer div {
	padding-top: 60px;
}

.red-footer img {
	max-width: 122px;
}

.red-footer h4 {
	font-weight: 700;
	max-width: 100px;
}

.red-footer ul {
	font-size: 10px;
	padding-top: 20px;
	padding-left: 0px;
	line-height: 22px;
}

.red-footer ul li {
	list-style: none;
}

.red-footer a:hover {
	color: gray;
}

.red-footer p {
	padding-top: 40px;
	font-size: 12px;
	max-width: 300px;
}

.footer-linkovi ul {
	padding-top: 40px;
}

.gray-footer {
	height: 110px;
	line-height: 110px;
	background: #000;
}

.gray-footer p {
	padding: 0 55px;
	font-size: 11px;
	margin-bottom: 0px;
}

.copyright {
	float: left;
}

.designed-by {
	float: right;
}

/********** END MAIN ***********/

/********** MEDIA SIZES ***********/

@media screen and (max-width: 460px) {
	.team-game-title {
	  max-width: 20%;
	}

	.team-game-item {
	  max-width: 40%;
	}

	.team-member-profile {
	    width: 50% !important;
	}
}

@media (min-width: 768px) {

  /********** BORDERS ***********/
  .bd-l {
    border-left: 1px solid #86151c;
  }

  .bd-r {
    border-right: 1px solid #86151c;
  }

  .bd-t {
    border-top: 1px solid #86151c; 
  }

  .bd-b {
    border-bottom: 1px solid #86151c; 
  }
  /********** END BORDERS ***********/

  .news-item {
    max-height: 332px;
  }

  .news-picture {
    max-height: 200px;
  }

  .navbar-nav>li>a {
    height: 110px;
    line-height: 100px;
  }

  .navbar-right {
    margin-right: 0px;
  }

  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
    margin-top: 10px;
  }

  .navbar-collapse:before,
  .navbar-collapse:after {
    display: none;
  }

  #myNavbar {
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex !important;
	  -webkit-justify-content: space-between; 
	  justify-content: space-between;
	}

.next-match {
  height: 220px;
  display: table;
  width: 100%;
}

.next-match-logo,
.next-match-info {
  display: table-cell;
  vertical-align: middle;
}

.next-match-info {
  width: 40%;
}

.next-match-logo {
  width: 60%;
}

.previous-match {
  height: 240px;
  display: table;
}

.previous-match-info,
.previous-match-table {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

  .previous-match-info {
    padding-left: 10%;
  }

  .red-footer {
		height: 322px;
	}
}

@media screen and (max-width: 768px) {
	.navbar-nav>li>a {
    padding: 5px;
	}

	.navbar-collapse {
		text-align: center;
	}

	.social-nav {
	/*	position: absolute;
		top: 44px;
		right: 20px;*/
		margin: auto !important;
    padding-bottom: 10px;
	}

  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }

  .navbar-brand {
    height: 100px;
  }

  .navbar-brand>img {
    width: inherit !important;
    max-height: 75px;
  }
  .navbar-right {
    display: table;
    margin-left: -5px;
  }
  .navbar-right li {
    display: table-cell;
  }

  .live-channels {
    line-height: 30px;
    margin-left: 0px;
  }

  .live-channels li {
    float: left;
  }

  .broadcast-lamp {
    margin: 0 5px;
  }

  .broadcast-img {
    float: left;
  }
  
	.carousel-caption h3 {
	  font-size: 3.5vw;
	}

  .news-picture {
    max-height: 200px;
  }

  .news-caption {
    position: relative;
  }

  .next-match-info {
    margin-left: 0px;
    text-align: center;
    padding: 20px;
  }

  .next-match-logo {
    padding: 0 20px 20px 20px;
  }

  .previous-match-info {
    text-align: center;
    padding: 20px;
  }

  .previous-matches-table {
    padding: 20px; 
  }

   .score-list {
    margin-top: 70px;
  }

  .choose-game {
    display: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 66%;
  }

  .game-item {
    width: 50%;
    height: 70px;
    line-height: 70px;
    border-top: none !important;
    border-left: 2px solid #86151c;
    border-bottom: 2px solid #86151c;
    border-right: 2px solid transparent;
  }

  .game-item.active {
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent !important;
  }

  #game-csgo {
    border-left: 2px solid #86151c;
    border-right: 2px solid #86151c;
  }

  .game-item img {
    vertical-align: middle;
    max-width: 80px;
  }

  .game-item:before {
    bottom: initial;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
  }

  .choose-team {
    padding: 0px;
    position: absolute;
    display: inherit;
    width: 34%;
    height: 70px;
    line-height: 70px;
    top: 0px;
    right: 0px;
    text-align: center;
  }

  #vip-league,
  #ebl-league {
    width: 45%;
    margin: 4% 5%;
    border-bottom: none;
  }

  #ebl-league {
    text-align: right;
  }

  #vip-league {
    text-align: left;
  }

  .team-item img {
    max-height: 50px;
  }

  .team-members-wrap {
	  display: block;
	}

	.team-member-profile img {
	    position: relative;
	    float: right;
	}

	.team-member-profile {
	    width: 33.3%;
	    overflow: hidden;
	    float: left;
	}

	.team-member-profile img {
    max-height: 234px;
  }

  .red-footer {
	  text-align: center;
	  padding: 20px;
	}

	.red-footer p,
	.red-footer h4 {
	  margin: auto;
	}

	.red-footer div {
	    padding-top: 20px;
	}

	.footer-linkovi ul {
	    padding-top: 20px;
	}

	.red-footer p {
    padding-top: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 920px) {
.navbar-right {
  position: absolute;
  right: 10px;
  top: 20px;
}

.live-channels {
  line-height: 50px;
  display: inline-table;
  position: absolute;
  top: 10px;
  right: 10px;
}

.broadcast-lamp {
  margin: 7px 0 7px 10px;
}
}

@media all and (max-width: 920px) {
.matches {
    display: none;
  }

  .score-item .matches-wl {
    border-right: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
.container {
  width: 100%;
}

.news-caption h3 {
  font-size: 14px;
}

.news-caption p {
  font-size: 9px;
}

.next-match {
  height: 165px !important;
}

.previous-match-logo img {
  max-height: 55px;
  max-width: 60px;
}

#previous-score {
    font-size: 26px;
}

.previous-matches-logo img {
    max-width: 35px;
    max-height: 35px;
}

.previous-matches-score {
    font-size: 16px;
    font-weight: 500;
  }

  .youtube-container {
    padding-bottom: 64%;
  }
}

@media screen and (max-width: 1200px) {
.logo-banner img {
  max-width: 18%;
}
}

/********** END MEDIA SIZES ***********/

/*Dusko*/
ul.nav.navbar-nav.navbar-right >li a {
  font-size: 20px;
}

.news-top-image {
  /*background-image: url(../images/vesti/vesti-top-image.jpg);*/
  width: 100%;
}

p.sub {
  font-weight: bold;
}